/* Overall */
* {
  margin: 0;
  padding: 0;
}

/* Stylesheet for navigation bar */

.flexContainer-nav {
  width: 100%;
  height: 100px;
  
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 10vh;
  background-color: #ececec;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
}

.navLink {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 500px;
  flex-wrap: wrap;
  color: #7572c7;
  list-style-type: none;
}

.navLogo {
  width: 80px;
  height: auto;
  align-self: center;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #7572c7;
}

nav a:hover {
  color: #7572c7;
  font-weight: bold;
}
nav a::before {
  content: "";
  height: 3px;
  background-color: #7572c7;
  position:absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 5%;
  transition: all ease-in-out 350ms;
}

/* Stylesheet for footer */

.footer-container {
  display: flex;
  justify-content: center;
  color: #8c88e9;
  height: 15vh;
  background-color: #ececec;

}

.flexFooterColumns {
  border: 2px red solid;
  display: flex;
  flex-direction: column;

}

.footerColumn {
  min-width: 15vw;
  margin: auto 2em;
}

/* Stylesheet for Index */

/*Stylesheet for first section in Index*/

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
}

.forsideLogo {
  flex: 1 1 1000%;
  min-width: 0;
  width: 25vw;
  margin-top: 10%;
}

/*Stylesheet for second section in Index*/

.second {
  width: auto;
  height: 100vh;
  background-image: url(/Style/Droplet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.secondText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid green;
  font-size: 1em;
}

/*Stylesheet for third section in Index*/

.third {
  background-image: url(/Style/underwater2.png.jpg);
  background-size: 100%;
  text-align: center;
  background-repeat: no-repeat;
}

.third h2 {
  padding-top: 20%;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 3em;
  margin-bottom: 0rem;
}

.third a {
  font-family: "Merriweather", serif;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.third a:hover {
  color: whitesmoke;
  cursor: pointer;
}

.third video {
  margin-top: 3rem;
  border: none;
  border-radius: 4rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 970px) {
  .third video {
    width: 400px;
    height: auto;
  }
}

/*Stylesheet for AboutUs*/

#mainContainer {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

#aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
#historyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.historyContainerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.historyContainerList li {
  margin: 1em 3em;
  border-color: lawngreen;
  border-width: 5px;
  border-style: solid;
  list-style-type: none;
}

#employeesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.imageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 3em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.profilePicture {
  width: 150px;
  height: 200px;
  border-radius: 5rem;
}

/*Stylesheet for Products*/

#productSiteContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10em;
  height: 90vh;
}

.imageProductContainer {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1000px;
  margin: 3em 0;
  justify-content: flex-end;
}

#imageProductText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pictureProduct {
  width: 200px;
  height: auto;
}

/*Stylesheet for Profile and login*/

.container {
  margin: 5rem 15rem 0.5rem;
  font-family: "Lato", sans-serif;
  max-width: 40rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #5b69e9;
  color: white;
  padding: 15px 20px;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: "Lato", sans-serif;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signIn {
  background-color: #f1f1f1;
  text-align: center;
  margin: 0rem 15rem 10rem;
  padding: 20px 0;
  font-family: "Lato", sans-serif;
  max-width: 40rem;
}

/*Stylesheet for Shopping cart*/

.cartSiteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.allroundContainer {
  display: flex;
  flex-direction: row;
  margin: 5rem auto;
  flex-wrap: wrap;
}

.cartProductContainer {
  display: flex;
  flex-direction: column-reverse;
  margin: 0.5rem 2rem;
}
.cartProductImage {
  width: 200px;
  height: auto;
}

.cartSumContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5rem 2rem;
}

.cartSumContainer a {
  text-decoration: none;
  border-style: solid;
  background-color: #8c56f0;
  color: #ececec;
  font-size: 20px;
  text-align: center;
  width: 6rem;
}

#registerSite{
  height: 70vh;
}